<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Brand -->
    <a class="navbar-brand" href="/">LLS</a>

    <!-- Links -->
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/retrieveDeliveries">View Deliveries</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Manage Delivery
        </a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/editDeliveryInfo">Edit Delivery</a>
        <a class="dropdown-item" href="/addDelivery">Add Delivery</a>
    </div>
    </li>

    </ul>
</nav>
